/*
* @Author: Mertens
* @Date:   2016-04-28 15:46:10
* @Last Modified time: 2016-04-29 11:50:36
*/
*
{
    margin: 0;
    padding: 0;
}
button
{
    padding: 0;

    border: none;
    outline: 0;
    background-color: #d9d1d1;
}
body > p
{
    font-family: 'Microsoft Yahei';
    font-size: 14px;
    line-height: 2;

    white-space: pre;
}
h2
{
    margin: 15px;
}
table,
h2
{
    margin-left: 50px;
}

h2 {
    width: 2000px;
}
